<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">PRODUCTO</th>
                <th scope="col" colspan="2" class="text-end">Q.</th>
                <th scope="col">ESTADO</th>
                <th scope="col">TIPO</th>
                <th scope="col">FECHA</th>
                <th scope="col" colspan="2" class="text-center">CLIENTE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks | paginate: { itemsPerPage: getTasksPerPage(), currentPage: p }">
                <td class="p-0 w-90">
                    <img src="{{task.logo}}" alt="" [ngStyle]="{'width': '90px'}">
                 </td>
                <td class="text-start p-0">{{task.referencia}}</td>

                <td *ngIf="task.observacion" class="observation__td">
                    <i class="fas fa-exclamation-circle text-warning"></i>
                    <span class="observation__span">
                        <div class="observation__triangle"></div>
                        <p>Obs.linea: {{task.observacion}}</p>
                        <p>Obs.pedido:</p>
                        <p>Pedido por: {{task.usuario}}</p>
                       </span>
                </td>

                <td *ngIf="!task.observacion" class="observation__td">
                   <i class="fas fa-info-circle text-primary"></i>
                   <span class="observation__span">
                   <div class="observation__triangle"></div>
                    <p>Obs.linea:</p>
                    <p>Obs.pedido:</p>
                    <p>Pedido por: {{task.usuario}}</p>
                   </span>

                </td>
                <td>x{{task.cantidad}}</td>
                <td>{{task.estado}}</td>
                <td>{{task.tipo}}</td>
                <td>{{task.fecha}}</td>
                <td class="text-end p-0">{{task.codigo_cliente}}</td>
                <td class="text-start p-0">{{task.alias_cliente}}</td>
            </tr>
        </tbody>
    </table>
    <p class="mb-1">LÍNEAS: {{tasks.length}}</p>
    <pagination-controls (pageChange)="p = $event" previousLabel= "" nextLabel= "" ></pagination-controls>
</div>
