<div class="container">
    <table class="table border-secondary">
        <thead>
            <tr>
                <th scope="col" colspan="2" class="fw-normal">PRODUCTO</th>
                <th scope="col" colspan="2" class="text-end fw-normal">Q.</th>
                <th scope="col" class="text-center fw-normal">ESTADO</th>
                <th scope="col" class="fw-normal">TIPO</th>
                <th scope="col" class="fw-normal">FECHA</th>
                <th scope="col" colspan="2" class="text-start fw-normal tasks__client">CLIENTE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks | paginate: { itemsPerPage: getTasksPerPage(), currentPage: p }">
                <td class="p-0">
                    <img src="{{task.logo}}" alt="{{task.referencia}}" class="tasks__img">
                 </td>
                <td class="text-start ps-0">{{task.referencia}}</td>

                <td *ngIf="task.observacion" class="observation__td">
                    <i class="fas fa-exclamation-circle text-warning"></i>
                    <span class="observation__span">
                        <div class="observation__triangle"></div>
                        <p>Obs.linea: {{task.observacion}}</p>
                        <p>Obs.pedido:</p>
                        <p>Pedido por: {{task.usuario}}</p>
                       </span>
                </td>

                <td *ngIf="!task.observacion" class="observation__td">
                   <i class="fas fa-info-circle text-primary"></i>
                   <span class="observation__span">
                   <div class="observation__triangle"></div>
                    <p>Obs.linea:</p>
                    <p>Obs.pedido:</p>
                    <p>Pedido por: {{task.usuario}}</p>
                   </span>

                </td>
                <td class="ps-0">x{{task.cantidad}}</td>
                <td>
                    <p class="rounded ps-1 pe-1 tasks__status text-white"  [ngClass]="{'bg-secondary': task.estado === 'Pendiente', 'bg-primary': task.estado === 'Desconsolidada', 'bg-warning text-black': task.estado === 'Recogiendo', 'bg-success': task.estado === 'Entregada'}">{{task.estado}}</p>
                </td>
                <td>
                    <p class="rounded ps-1 pe-1 tasks__status text-white bg-dark">{{task.tipo}}</p>
                </td>
                <td>
                    <span class="fw-bold">{{task.fecha | date: "HH:mm"}}</span>
                    <span class="ps-1 tasks__date">{{task.fecha | date: "dd MMM 'YY"}}</span>
                    </td>
                <td class="p-0">
                    <p class="text-end tasks__code mb-0">{{task.codigo_cliente}}</p>
                </td>
                <td class="text-start ps-0 fw-bold">{{task.alias_cliente}}</td>
            </tr>
        </tbody>
    </table>
    <p class="mb-0">LÍNEAS: <span class="fw-bold">{{tasks.length}}</span></p>
    <pagination-controls class="d-flex flex-row-reverse pagination" (pageChange)="p = $event" previousLabel= "" nextLabel= "" ></pagination-controls>
</div>
