.tasks {
    &__img {
        width: 90px;
    }

    &__status {
        width: max-content;
        position: relative;
        margin: 0 auto;
    }
}

.observation{
    &__td:hover &__span{
        display: flex;
        flex-direction: column;
    }

    &__span{
        display: none;
        background-color: white;
        position: absolute;
        z-index: 1;
        border: 1px solid grey;
        width: 250px;
        padding: 8px;
        border-radius: 10px;
        height: 118px;
        transform: translate(-111px, 11px);
    }

    &__triangle {
        width: 0;
        height: 0;
        border-bottom: 17px solid rgb(214, 212, 212);
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        position: absolute;
        top: -16px;
        left: 101px;
      }
  
}

.pagination ::ng-deep .ngx-pagination li {
    border: 1px solid rgb(175, 175, 201);
    border-radius: 2px;
    color: rgb(104, 104, 241);
    margin: 0;
}