
<div class="container">
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="mg-4">
        <label class="form-label" for="client">Cliente:</label>
        <input class="form-control" type="text" name="client" id="client" formControlName="client" />
    </div>
    <div class="mg-4">
        <label class="form-label" for="reference">Referencia:</label>
        <input class="form-control" type="text" name="reference" id="reference" formControlName="reference">
    </div>
    <div class="mg-4">
        <label class="form-label" for="user">Usuario:</label>
        <input class="form-control" type="text" name="user" id="user" formControlName="user">
    </div>
    <div class="mg-4">
        <label class="form-label" for="date">Fecha:</label>
   
               <input type="text"
                  class="form-control"
                  bsDaterangepicker
                  placement="right"
                  [bsConfig]="datePickerConfig"
                  formControlName="date"
                  />
  
    </div>
    <div class="mg-4">
        <label class="form-label" for="type">Tipo:</label>
        <select class="form-select" name="type" id="type" formControlName="type">
        <option default value="">TODOS</option>
        <option *ngFor="let type of types" value={{type}}>{{type}}</option>
    </select>
    </div>
    <div class="mg-4">Estado:
        <div class="form-check" *ngFor="let eachStatus of status">
            <input class="form-check-input" type="checkbox" name="status" id="status" formControlName="status" value={{eachStatus}} [checked]="true">
            <label class="form-check-label" for={{eachStatus}}>{{eachStatus}}</label>
        </div>
    </div>
    <button type="submit">Buscar</button>
</form>
</div>
